@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');

.header {
    background: linear-gradient(#3767DA, #F3F2ED);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 60px 5px 30px;
}

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
}

.myProfil{
    border: solid 5px #FFF;
    background-color: #8198E0;
    color: #FFF;
    height: 50px;
    width: 150px;
}

.myProfil:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #8198E0;
}

.parameterLogo {
    position: absolute;
    display: block;
    top: 30px;
    right: 10px;
    height: 40px;
    width: 40px;
    z-index: 1;
}

.parameterLogo:hover {
    cursor: pointer;
    transform: scale(1.1);
} 

@media (max-width: 950px) { 
    .logo {
        font-size: 1.8rem;
    }

    .myProfil{
        height: 40px;
        border: solid 4px #FFF;
    }
}
@media (max-width: 670px) {
    .header {
        flex-direction: column;
        padding-right: 30px;
    }
    
    .logo {
        font-size: 1.3rem;
    }

    .myProfil{
        height: 30px;
        border: solid 2px #FFF;
    }

    .parameterLogo {
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 410px) {
    .parameterLogo {
        top: 10px;
        right: 10px;
        height: 20px;
        width: 20px;
    }
}