.form {
    background-color: #3767DA;
    border: solid 5px #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    color: #FFF;
    font-size: 16px;
}

.inputDiv, .toConnectDiv {
    margin: 5px 0;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    outline: none;
    padding: 2px 10px;
}

.toConnectDiv {
    flex-direction: row;
    justify-content: space-between;
}

.toConnectBtn {
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    color: #3767DA;
}

.toConnectBtn:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

.toConnectBtn:disabled {
    opacity: 0.5;
}

.toConnectBtn:disabled:hover {
    cursor:auto;
    font-size: 1rem;
}

.forgotPassword {
    margin-left: 50%;
    margin-right: 10px;
    font-size: 0.8rem;
}

.forgotPassword:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 870px){
    .toConnectBtn {
        font-size: 0.9rem;
    }
}

@media (max-width: 760px){
    .toConnectBtn {
        font-size: 0.8rem;
    }

    .forgotPassword {
        font-size: 0.6rem;
    }
}

@media (max-width: 670px){
    .label {
        font-size: 0.8rem;
    }
    .input {
        font-size: 0.7rem;
    }

    .toConnectDiv {
        justify-content: space-between;
    }
    .forgotPassword {
        margin: 0;
        width: 45%;
    }

    .toConnectBtn {
        width: 45%;
    }
}

@media (max-width: 410px) {
    .input, .toConnectBtn, .forgotPassword {
        font-size: 0.65rem;
    }
}