@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-bottom: 50px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 200px;
    padding: 20px 5%;
    margin: 20px 0;
    width: 100%;
}

.resultBook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    min-height: 200px;
    padding: 20px 5%;
    margin: 20px 0;
    width: 100%;
}

.infosBook {
    width: 60%;
}

.authorsDiv {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.authors {
    font-size: 1rem;
}

.authorsUl {
    margin-left: 20px;
    font-size: 1rem;
}

.publisher {
    margin-bottom: 10px;
    font-size: 1rem;
}

.publisherSpan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 2%;
}

.descriptionBtn {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
    width: 120px;
    height: 30px;
    padding: 5px;
}

.descriptionBtn:hover {
    cursor: pointer;
}

.descriptionDiv {
    background-color: #000;
    border-radius: 20px;
    padding-top: 20px;
    color: #FFF;
    width: 100%;
    min-height: 50vh;
}

.img {
    height: 160px;
    max-width: 20%;
    display: block;
    border-radius: 20px;
    margin-right: 5%;
}

.infos {
    width: 50%;
}

.h2 {
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.p {
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.span {
    font-size: 1.4rem;
    font-weight: 700;
}

.button {
    width: 20%;
    height: 50px;
    background-color: #FFF;
    border: solid 1px #000;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media (max-width: 950px) {
    .result {
        height: 180px;
    }

    .img {
        height: 140px;
        border-radius: 18px;
    }

    .h2 {
        font-size: 1.4rem;
    }

    .p {
        font-size: 1rem;
    }

    .span {
        font-size: 1rem;
    }

    .button {
        height: 40px;
        font-size: 1.1rem;
    }
}

@media (max-width: 670px) {
    .result {
        height: 140px;
    }

    .img {
        height: 100px;
        border-radius: 12px;
    }

    .h2 {
        font-size: 1rem;
    }

    .p {
        font-size: 0.7rem;
    }

    .span {
        font-size: 0.7rem;
    }

    .button {
        height: 30px;
        font-size: 0.7rem;
    }

    .resultBook {
        padding: 10px 5%;
    }

    .authorsDiv {
        font-size: 0.8rem;
    }

    .authors {
        font-size: 0.8rem;
    }

    .authorsUl {
        font-size: 0.8rem;
    }

    .publisher {
        font-size: 0.8rem;
    }

    .publisherSpan {
        font-size: 0.8rem;
    }

    .descriptionBtn {
        font-size: 0.8;
    }
}

@media (max-width: 500px) {
    .result {
        height: 120px;
    }

    .img {
        height: 80px;
        border-radius: 10px;
    }

    .h2 {
        font-size: 0.8rem;
    }

    .p {
        font-size: 0.6rem;
    }

    .span {
        font-size: 0.6rem;
    }

    .button {
        height: 25px;
        font-size: 0.6rem;
    }

    .resultBook {
        padding: 2px 5%;
    }

    .authorsDiv {
        font-size: 0.5rem;
    }

    .authors {
        font-size: 0.5rem;
    }

    .authorsUl {
        font-size: 0.5rem;
    }

    .publisher {
        font-size: 0.5rem;
    }

    .publisherSpan {
        font-size: 0.5rem;
    }

    .descriptionBtn {
        font-size: 0.6rem;
        width: 80px;
        height: 20px;
    }
}

@media (max-width: 370px) {
    .result {
        height: 100px;
    }

    .img {
        height: 70px;
        border-radius: 8px;
    }

    .h2 {
        font-size: 0.6rem;
    }

    .p {
        font-size: 0.4rem;
    }

    .span {
        font-size: 0.4rem;
    }

    .button {
        height: 20px;
        font-size: 0.4rem;
    }
}