.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25vh;
    z-index: 2;
}

.container {
    opacity: 1;
    position: relative;
    width: 60vw;
    max-width: 650px;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}