.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20vh 20vw;
}

.container {
    opacity: 1;
    min-height: 50vh;
    min-width: 50vw;
}