.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20vh 20vw;
}

.container {
    opacity: 1;
    position: relative;
}

.logo {
    position: absolute;
    top: 5px;
    right: 5px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}